.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.map-embed {
  height: 50vh;
}

.html-embed {
  height: 100%;
}

.missile-grid-main-wrapper {
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: row;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.missile-box {
  height: 100%;
  background-color: #e17d80;
  cursor: pointer;
}

.missile-box._2000 {
  background-color: rgba(210, 39, 45, 0.7);
}

.missile-box._500 {
  background-color: rgba(254, 190, 16, 0.6);
}

.missile-box._1000 {
  background-color: rgba(255, 119, 0, 0.7);
}

.missile-box._200 {
  background-color: rgba(121, 188, 111, 0.6);
}

.missile-grid {
  grid-auto-flow: column;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.missile-name-h1 {
  margin: 0px 19px;
  font-family: Lato, sans-serif;
  font-size: 18px;
  line-height: 35px;
  text-transform: uppercase;
  white-space: pre;
}

.missile-wrapper-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.missile-range-para {
  font-family: Oswald, sans-serif;
}

.missile-image {
  display: block;
  width: 80px;
  height: 100%;
  margin-bottom: 41px;
}

.missiile-show-scroll-div {
  overflow: scroll;
  height: 50vh;
}

.map {
  width: 800px;
  height: 50vh;
}

.section {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.page-wrapper {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.grid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 0.25fr 1fr;
  grid-template-columns: 1fr 0.25fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.block-text {
  font-family: Lato, sans-serif;
  font-size: 16px;
  text-align: center;
}

.block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  padding: 14px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.block._1 {
  background-color: #e0e7f0;
}

.icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #00558c;
}

.icon._1 {
  background-color: transparent;
}

.wrapper {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.image {
  width: 60%;
  padding: 0px;
}

.block-heading {
  font-family: Lato, sans-serif;
  font-size: 17px;
  line-height: 22px;
  font-weight: 900;
  text-align: center;
  text-decoration: underline;
}

.missile-title-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  display: none;
  width: 15%;
  height: 90%;
}

.container {
  position: relative;
}

.text-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 7%;
  margin-top: 30.5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Lato, sans-serif;
  font-size: 20px;
  line-height: 1.5vw;
  font-weight: 700;
}

.html-embed-2 {
  margin-left: 0px;
}

.legend-box {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 4px;
  background-color: #93e5f9;
}

.legend-box.crmb {
  background-color: #db3a69;
}

.legend-box.mrbm {
  background-color: #edae2f;
}

.legend-box.srbm {
  background-color: #478e7a;
}

.legend-box.slv {
  background-color: #3da5c1;
}

.legend-entry-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Lato, sans-serif;
  font-size: 16px;
}

.legend-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 13px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.text-block-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 7%;
  margin-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Lato, sans-serif;
  font-size: 20px;
  line-height: 1.5vw;
  font-weight: 700;
}

@media screen and (max-width: 991px) {
  .map {
    width: auto;
  }

  .page-wrapper {
    width: auto;
  }

  .block-text {
    font-family: Lato, sans-serif;
    font-size: 1.8vw;
    line-height: 2.3vw;
  }

  .wrapper {
    width: 100%;
  }

  .html-embed-2 {
    margin-left: 101px;
  }

  .text-block-copy {
    height: auto;
    margin-top: 0px;
  }
}

@media screen and (max-width: 767px) {
  .icon {
    width: 12vw;
  }

  .div-block {
    width: 20%;
  }

  .text-block {
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;
  }

  .text-block-copy {
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;
  }
}

@media screen and (max-width: 479px) {
  .map {
    width: 100%;
  }

  .block-text {
    font-size: 10px;
    line-height: 12px;
  }

  .block._1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .image {
    width: 30px;
    height: 30px;
  }

  .block-heading {
    font-size: 12px;
    line-height: 15px;
  }

  .div-block {
    width: 26%;
  }

  .text-block {
    height: 7.2%;
    font-size: 15px;
  }

  .html-embed-2 {
    margin-left: 92px;
  }

  .legend-box {
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }

  .legend-box.crmb {
    margin-right: 5px;
  }

  .legend-entry-wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .legend-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 19px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .text-block-copy {
    height: auto;
    font-size: 12px;
  }
}

#w-node-b2f4d326-8b45-96d9-457d-91eae14af68e-e38cf58e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4f86ef28-7507-a2c6-959d-b408dfeaae71-e38cf58e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_8bb07f65-4289-31bf-aa8a-39a4a32cfbbd-e38cf58e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_8bb07f65-4289-31bf-aa8a-39a4a32cfbc2-e38cf58e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b08ee67c-6c0a-4243-804b-220bfec772ab-e38cf58e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b08ee67c-6c0a-4243-804b-220bfec772b0-e38cf58e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c233b5b4-df8c-f1c3-e902-37eceeee1242-e38cf58e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c233b5b4-df8c-f1c3-e902-37eceeee1247-e38cf58e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-da046292-2ca6-b2db-334a-06ffdba37023-e38cf58e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-da046292-2ca6-b2db-334a-06ffdba37028-e38cf58e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_16fdf6ff-9009-3325-8a72-166bea68355a-e38cf58e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_16fdf6ff-9009-3325-8a72-166bea68355f-e38cf58e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_99d81ed1-c602-181a-4327-9acc21270318-e38cf58e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_99d81ed1-c602-181a-4327-9acc2127031d-e38cf58e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_24ad729c-6c02-ab6a-b065-266eb2c04bac-e38cf58e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_24ad729c-6c02-ab6a-b065-266eb2c04bb1-e38cf58e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_30f5fb1a-51d4-b889-b6ff-353bda4089c2-e38cf58e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_30f5fb1a-51d4-b889-b6ff-353bda4089c7-e38cf58e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_8a33a2ae-33ec-8abc-c3ba-46885299af9f-e38cf58e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_8a33a2ae-33ec-8abc-c3ba-46885299afa4-e38cf58e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}